aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps
INSTALL
install-sh
libdfbfbdev.la
libdfbfbdev_la-directfb-fbdev.lo
.libs
libtool
ltmain.sh
Makefile
Makefile.in
missing
